.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3);
    height: 100vh;
    width: 33vw;
    text-transform: uppercase; }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem)/3) + 6rem);
    height: 100vh;
    width: 66vw; }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

body {
  font-family: "century gothic";
  font-weight: 400;
  line-height: 1.7; }

.row {
  width: 100vw; }

.col-2-of-3 {
  background-image: url(../images/twice3.jpg);
  background-size: cover; }

.col-1-of-3 {
  background-color: #272424;
  color: #eee; }

.heading-primary {
  text-transform: uppercase;
  line-height: .7; }
  .heading-primary-main {
    font-size: 1.3rem; }
  .heading-primary-sub-1 {
    font-size: .8rem; }
  .heading-primary-sub-2 {
    font-size: .8rem; }

.column2__form {
  padding: 2rem;
  line-height: 1.5rem; }

.column2__form--group-1 {
  font-family: "century gothic";
  text-align: center; }

.column2__form--group-2 {
  padding-top: 1rem;
  width: 100%;
  text-align: center;
  font-family: "century gothic"; }
  .column2__form--group-2 .field__wrapper {
    margin-bottom: .5rem; }
    .column2__form--group-2 .field__wrapper-icon {
      margin-bottom: .5rem;
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      color: transparent; }
    .column2__form--group-2 .field__wrapper input {
      width: 100%;
      padding: .35rem; }

.logo__pic {
  height: 120px;
  width: 200px;
  margin-left: 10rem; }

.img {
  color: #eee; }
  .img__figure-1 {
    margin-top: 2rem;
    margin-left: 5rem;
    float: left; }
  .img__figure-2 {
    margin-right: 14rem;
    margin-top: -2rem;
    float: right; }
  .img-pic1 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid white; }
  .img-pic2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2px solid white; }

.footer {
  line-height: 1.5rem;
  padding-top: 23.5rem;
  margin-left: 2rem;
  color: #eee; }

.heading-secondary {
  bottom: 0;
  text-transform: uppercase; }
  .heading-secondary-main {
    font-size: 1.3rem; }
  .heading-secondary-sub {
    font-size: 1rem; }

.more-info {
  font-weight: 200;
  font-size: .6rem;
  text-decoration: none;
  text-transform: uppercase;
  color: green;
  border-top: 1px solid green; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 2rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover:active, .btn:hover:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-green {
  background-color: #55c57a;
  color: #fff;
  text-align: center; }
  .btn-green::after {
    background-color: #55c57a; }
