@import "abstract/variables";

@import "layouts/grid";


*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body{
    font-family: "century gothic";
    font-weight: 400;
    line-height: 1.7;
   
}

.row{
    width: 100vw;

}

.col-2-of-3{
    background-image: url(../images/twice3.jpg);
    background-size: cover;
    
}

.col-1-of-3{
    background-color: rgb(39, 36, 36);
    color: #eee;
    
}

.heading-primary{
    text-transform: uppercase;
    line-height: .7;

    &-main{
        font-size: 1.3rem;
    }

    &-sub-1{
        font-size: .8rem;
    }
    
    &-sub-2{
        font-size: .8rem;
    }
}

.column2__form{
    padding: 2rem;
    line-height: 1.5rem;
}

.column2__form--group-1{
    font-family: "century gothic";
    text-align: center;
}

.column2__form--group-2{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    font-family: "century gothic";

    .field__wrapper{

        &-icon{
            // font-size: 6rem;
            margin-bottom: .5rem;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            color: transparent;
        }
        margin-bottom: .5rem;

        input{
            width: 100%;
            padding: .35rem;
        }
    }

    
}


.logo{

    &__pic{
        height: 120px;
        width: 200px;
        margin-left: 10rem;
    }
}



.img{
    color: #eee;
    &__figure-1{
        margin-top: 2rem;
        margin-left: 5rem;
        float: left;
    }

    &__figure-2{
        margin-right: 14rem;
        margin-top: -2rem;
        float: right;
    }

    &-pic1{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 2px solid white;
    }

    &-pic2{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 2px solid white;
    }

    // &-pic1{
    //     border-radius: 50%;
    //     height: 100px;
    //     width: 100px;
    //     border: 2px solid white;
    //     margin-top: 2rem;
    //     margin-left: 5rem;
    //     float: left;
    // }

    // &-pic2{
    //     border-radius: 50%;
    //     height: 100px;
    //     width: 100px;
    //     border: 2px solid white;
    //     margin-right: 19rem;
    //     margin-top: -2rem;
    //     float: right;
        
    // }
}

.footer{
    line-height: 1.5rem;
    padding-top: 23.5rem;
    margin-left: 2rem;
    color: #eee;
}

.heading-secondary{
    bottom: 0;
    text-transform: uppercase;


    &-main{
    font-size: 1.3rem;
    }

    &-sub{
    font-size: 1rem;
    }

}

.more-info{
    font-weight: 200;
    font-size: .6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: green;
    border-top: 1px solid green;
}

.btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: .5rem 2rem;
      display: inline-block;
    //   border-radius: 30rem;
      transition: all .2s;
      position: relative;
      text-align: center;
      margin-top: 1rem;

      //Change for the <button> elemenet
      border: none;
      cursor: pointer;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
        &:active,
        &:focus {
          outline: none;
          transform: translateY(-.1rem);
          box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
        }
        
  
      }

      &-green {
        background-color: $color-primary;
        color: $color-white;
        text-align: center;
    
        &::after {
          background-color: $color-primary;
        }
      }
}