.row {
    max-width: $grid-width;
    margin: 0 auto;


    [class^="col-"] {
        float: left;
    }
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal})/3);
        height: 100vh;
        width: 33vw;
        text-transform: uppercase;
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal})/3) + #{$gutter-horizontal});
        height: 100vh;
        width: 66vw;
    }
}